<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <!-- Produccion -->
    <property name="hibernate.connection.url">jdbc:postgresql://54.213.21.117:5432/reservaciones</property>
    <!--Produccion -->
    <!-- Develop -->
    <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/reservaciones</property>-->
    <!-- Develop -->
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="jw0rmc/timeline/Elementos.hbm.xml"/>
    <mapping resource="jw0rmc/timeline/Auxiliar.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
